<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ru.zaxx.match3"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Simple Match 3</name>

    <description>
        Simple Match 3 game
    </description>

    <author email="sergey.zoomaster@gmail.com" href="https://zaxx.ru">Sergey Tokarev</author>
    <plugin name="cordova-plugin-whitelist" version="1"/>

 
    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="enabled" value="true"/>
        <icon src="img/preloader_logo.png" />
    </platform>

    <content src="index.html" />
    <access origin="*"/>

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <cocoon:plugin name="com.ludei.canvasplus.android" />
</widget>