<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Simple Match 3</name>

    <description>
        Simple Match 3 game
    </description>

    <author href="https://zaxx.ru" email="sergey.zoomaster@gmail.com">
        Sergey Tokarev
    </author>

</widget>